<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keywordio Library managment system</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg bg-success ">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder " style=" color:white" href="#">BooksLibrary</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
       <a href="http://127.0.0.1:8000/signup/">
      <button type="button" class="btn btn-dark">Register</button>
       </a>
</div>
</nav>

 <div class="mx-auto " style="width: 200px;">

  <a href="http://127.0.0.1:8000/login/">
  <img src="static/adminlogin.jpg" alt="Flowers in Chania">
    </a>
  <a href="http://127.0.0.1:8000/login/">
  <img src="static/studentlogin.jpg" alt="Flowers in Chania">
</a>
</div>

  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
       @Keywordio.
    </div>

  </div>
</section>


</body>

</html>